beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
cheroot==6.0.0
CherryPy==13.1.0
dotobject==1.2.1
idna==2.6
more-itertools==4.0.1
pkg-resources==0.0.0
portend==2.2
pytz==2017.3
redis==2.10.6
redisworks==0.2.7
requests==2.18.4
six==1.11.0
tempora==1.10
unicodecsv==0.14.1
urllib3==1.22
